/* General */
section > h1 {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

section {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*!* Header *!*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/photo-1490645935967-10de6ba17061.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

/*!* Navigation *!*/
.navigation {
    margin-left: 25px;
    margin-right: 25px;
    display: block;
}

.navigation-item {
    margin-top: 30px;
    float: right;
    list-style: none;
}

.navigation-item > li {
    display: inline-block;
    margin-left: 20px;
    border: none;
}

.navigation-item > li > a:link, a:visited {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-botom 0.2s;
    border-bottom: 2px solid transparent;
}

.navigation-item > li > a:hover, a:active {
    border-bottom: 2px solid orange;
}

/* Food Quotes */
.food-quotes > h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

/* Food Section */
.img-container > img {
    margin: 5px;
    width: 200px;
    height: 200px;
}

/* Food Reviews */
.testimonial-section {
    background-color: #ecf0f1;
}

.customer-testimonial {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.customer-testimonial__content-review {
    width: 80%;
    margin: 0 50px 0 50px;
}

.customer-testimonial__content-review > p {
    text-align: justify;
}

.control-customer-testimonial {
    font-size: 25px;
    vertical-align: center;
    align-self: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.disable-control-customer-testimonial {
    color: #a9a8a8;
    cursor: default;
}

.food-reviewer {
    font-weight: bold;
    float: right;
    text-transform: uppercase;
}

/* Form Reviews Section */
.btn-form-review-section {
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 40px;
    float: right;
    margin-right: 16%;
}

.form-review {
    margin: 0 auto;
    width: 80%;
}

.form-review--colon {
    margin-right: 15px;
}

/* Video Section */
.video-section {
    background-color: #ecf0f1;
}

.list-of-video {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    overflow: hidden;
}

.col-video {
    margin-bottom: 10px;
}
